.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.btn {
  padding: 10px 20px;
  background-color: #0077b6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.box {
  display: none;
  width: 400px;
  padding: 20px;
  background-color: #caf0f8;
  border-radius: 5px;
  text-align: center;
}

.show {
  display: block;
}

.hide {
  display: none;
}
h1{
  text-align: center;
}
